header {
    position: relative;
}

#title {
    position: absolute;
    bottom: 20px;
    font-variant: small-caps;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    color: white;
    letter-spacing: 0.3px;
    text-shadow: 0 0 2px black;
    padding-bottom: 0px;
    border-bottom: 1px dotted gray;
    margin: 0px;
    padding-bottom: 0px;
}

h5 {
    margin-top: 5px;
    letter-spacing: 0.5px;
}

.title{
    /* border: 1px solid black; */
    padding-top: 80px;
}
.nav-link{
    appearance: none;
}
/* .nav-item{
    padding-left: 15px ;
}    */